.loading-bubbles {
  display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
  width: 100%;

  .bubble {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #4caf50; 
    animation: wave 1.5s infinite ease-in-out;
  }

  .bubble1 {
    animation-delay: -0.3s;
  }

  .bubble2 {
    animation-delay: -0.15s;
  }

  .bubble3 {
    animation-delay: 0s;
  }

  @keyframes wave {
    0%, 60%, 100% {
      transform: scale(0);
    }
    30% {
      transform: scale(1);
    }
  }
}  