.team-card-container {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 0.5 rem;
  background-color: white;
  height: fit-content;
}

.team-card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.team-card-title,
.team-card-description {
  margin: 0.5rem 5%;
}

.team-card-btn {
  text-align: center;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #6ab04a;
  color: white;
  text-decoration: none;
  margin: 0.5rem auto;
}
