$light-gray: #ccc;
$dark-gray: #999;
$cream: #fafaf5;
$green: #426B1F;
$white: #fff;
$black: #000;
$gray: #838383;
$focus-shadow: rgba(40, 167, 69, 0.5);
$focus-shadow-black: rgba(0, 0, 0, 0.5);
$button-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

.button-base {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  height: 40px; 
  line-height: 1.5; 
  white-space: nowrap;
  transition: 400ms;
}

.games-page {
  padding: 16px;

  .games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // display: grid;
    gap: .5rem;
    
  }

  .games-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .game-list-item {
      display: flex;
      align-items: center;
      background: $cream;
      border: 1px solid $gray;
      padding: 10px;
      border-radius: 8px;

      .team-logo {
        width: 60px;
        height: 40px;
        margin: 8px 8px;
      }

      .team-name {
        font-size: 16px;
        font-weight: 600;
        margin: 8px 8px;
      }

      .game-date {
        margin-left: auto;
        font-size: 16px;
        color: $gray;
      }
    }
  }

  .page-break {
    border: 0;
    height: 1px;
    background: $light-gray;
    margin-bottom: 50px; 
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;

    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .header-title {
    font-size: clamp(24px, 5vw, 48px);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .header-options {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .filter-container {
      // display: flex;
      // // align-items: center;
      // justify-content: center;
      position: relative;

      .filter-button {
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        margin: 10px;
        color: $gray;
        transition: 400ms;

        &:hover {
          color: darken($gray, 10%);
        }
      }

      .filter-popup {
        position: absolute;
        transform: translateX(-35%);
        top: 100%; 
        left: 0;
        background: $white;
        padding: 20px;
        box-shadow: 0px 6px 6px $dark-gray;      
        z-index: 1000;

        .close-popup-button {
          transition: 400ms;
          height: 20px;
          width: 20px;
          position: absolute;
          top: 10px;
          left: 80%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: $gray;

          &:hover {
            transform: scale(1.2);
          }

          &:active {
            color: $black
          }
        }
      
        .filter-popup-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          .season,
          .season-type {
            min-width: 118px;
            min-height: 25px;
            border-radius: 8px;

            &:focus {
              outline: none;
              box-shadow: 0 0 0 1px $green;
            }
          }
      
          .apply-filters-button {
            border-radius: 8px;
            padding: 5px 15px;
            border: none;
            background-color: $black;
            color: $white;
            cursor: pointer;
      
            &:hover {
              background-color: lighten($black, 20%);
            }
          }
        }
      }
    }
    
    .default-list-games {
      @extend .button-base;
      background-color: $green;
      border: 0px;
      outline: 2px $green solid;
      outline-offset: -2px;
      min-width: 94px;

      &:hover {
        transform: scale(1.05);
        background-color: transparent;

        .text {
          color: $green;
        }
      }

      &:active {
        transform: scale(0.9); 
      }

      .text {
        font-weight: 500;
        color: $white;
        transition: 400ms;
        margin: 0px;
      }
    }

    .a-z {
      @extend .button-base;
      background-color: $white;
      border: 0px;
      outline: 2px $gray solid;
      outline-offset: -2px;

      &:hover {
        background-color: darken($white, 10%);
        transform: scale(1.05);
      }

      &:active {
        background-color: darken($white, 10%);
        transform: scale(0.95);
      }

      .text {
        font-weight: 500;
        color: $black;
        transition: 400ms;
        margin: 0px;
      }
    }
  }
}