$light-gray: #ccc;
$cream: #fafaf5;
$green: #426b1f;
$white: #fff;
$black: #000;
$gray: #838383;
$focus-shadow: rgba(40, 167, 69, 0.5);
$focus-shadow-black: rgba(0, 0, 0, 0.5);
$button-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

.button-base {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  height: 40px;
  line-height: 1.5;
  white-space: nowrap;
  transition: 400ms;
}

.games-page {
  padding: 16px;

  .games-grid {
    // display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    gap: 0.5rem;
  }

  .games-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .game-list-item {
      display: flex;
      align-items: center;
      background: $cream;
      border: 1px solid $gray;
      padding: 10px;
      border-radius: 8px;

      .team-logo {
        width: 60px;
        height: 40px;
        margin: 8px 8px;
      }

      .team-name {
        font-size: 16px;
        font-weight: 600;
        margin: 8px 8px;
      }

      .game-date {
        margin-left: auto;
        font-size: 16px;
        color: $gray;
      }
    }
  }

  .page-break {
    border: 0;
    height: 1px;
    background: $light-gray;
    margin-bottom: 50px;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;

    .load-more {
      @extend .button-base;
      background-color: $white;
      border: 0px;
      outline: 2px $gray solid;
      outline-offset: -2px;
      border-radius: 8px;
      padding: 0 20px;
      font-size: 12px;
      color: $gray;

      &:hover {
        background-color: darken($white, 10%);
        transform: scale(1.05);
      }

      &:active {
        background-color: darken($white, 10%);
        transform: scale(0.95);
      }
    }
  }
}

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .header-title {
    font-size: clamp(24px, 5vw, 48px);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .header-options {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .default {
      @extend .button-base;
      background-color: $green;
      border: 0px;
      outline: 2px $green solid;
      outline-offset: -2px;

      &:hover {
        transform: scale(1.05);
        background-color: transparent;

        .text {
          color: $green;
        }
      }

      &:active {
        transform: scale(0.9);
      }

      .text {
        font-weight: 500;
        color: $white;
        transition: 400ms;
        margin: 0px;
      }
    }

    .a-z,
    .list-view {
      @extend .button-base;
      background-color: $white;
      border: 0px;
      outline: 2px $gray solid;
      outline-offset: -2px;

      &:hover {
        background-color: darken($white, 10%);
        transform: scale(1.05);
      }

      &:active {
        background-color: darken($white, 10%);
        transform: scale(0.95);
      }

      .text {
        font-weight: 500;
        color: $black;
        transition: 400ms;
        margin: 0px;
      }
    }
  }
}
