@use "sass:math";

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 2s forwards, fadeIn 2s forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  // color: #28a745;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  cursor: pointer;

  &:hover {
    animation: rubberBand 1s;
    transition: 400ms;
    color: #28a745;
  }
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{math.div($i, 5)}s;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.25) skewX(-15deg);
  }

  40% {
    transform: scale(0.75) skewX(15deg);
  }

  50% {
    transform: scale(1.15) skewX(-5deg);
  }

  65% {
    transform: scale(1) skewX(0);
  }
  
  100% {
    transform: scale(1);
  }
}

// @keyframes colorTransition {
//   from {
//     color: #28a745;
//     // color: #000;
//   }
//   to {
//     color: #000;
//     // color: #28a745;
//   }
// }