$green: #426b1f;
$white: #fff;
$black: #000;
$gray: #c2c2c2;
$cream: #f3f3e6;
$focus-shadow: #28a74580;
$focus-shadow-black: #00000080;
$button-shadow: 0 2px 5px #0000001a;

.players-page {
  padding: 16px;

  .page-break {
    border: 0;
    height: 1px;
    background: $gray;
    margin-bottom: 50px;
  }

  .no-players-message {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
  }  

  .players-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .players-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .player-list-item {
      display: flex;
      align-items: center;
      background: $cream;
      border: 1px solid $gray;
      padding: 10px;
      border-radius: 8px;

      .player-image {
        width: 60px;
        height: 40px;
        margin-right: 8px;
      }

      .player-name {
        font-size: 16px;
        font-weight: 600;
        margin-right: 8px;
      }

      .player-description {
        font-size: 14px;
        color: $gray;
      }
    }
  }
}

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.players-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .player-header-title {
    font-size: clamp(24px, 5vw, 48px);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .player-header-options {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .button-base {
      border-radius: 20px;
      padding: 5px 15px;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      height: 40px;
      line-height: 1.5;
      white-space: nowrap;
      @include transition(transform, 400ms);
    }

    .default-list-players {
      @extend .button-base;
      background-color: $green;
      border: 0px;
      outline: 2px $green solid;
      outline-offset: -2px;
      min-width: 94px;

      &:hover {
        transform: scale(1.05);
        background-color: transparent;

        .text {
          color: $green;
        }
      }

      &:active {
        transform: scale(0.9);
      }

      .text {
        font-weight: 500;
        color: $white;
        transition: 400ms;
        margin: 0px;
      }
    }

    .a-z { 
      @extend .button-base;
      background-color: $white;
      border: 0px;
      outline: 2px $gray solid;
      outline-offset: -2px;

      &:hover {
        background-color: darken($white, 10%);
        transform: scale(1.05);

        .text {
          color: $black;
        }
      }

      &:active {
        background-color: darken($white, 10%);
        transform: scale(0.95);
      }

      .text {
        font-weight: 500;
        color: $black;
        transition: 400ms;
        margin: 0px;
      }
    }

    .followed-players {
      @extend .button-base;
      background-color: $white;
      border: 0px;
      outline: 2px $gray solid;
      outline-offset: -2px;
      min-width: 103px;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &.highlighted {
        background-color: $green;
        color: $white;
        outline: 2px solid $green;
      }
    }
  }
}