.Card {
  width: 300px;
  height: 480px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 6px 1px black;
  overflow: hidden;
}

.upper-container {
  height: 100px;
  background: linear-gradient(to left, #26ae60, #218f76);
}

.image-container img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}

img {
  border: 2px solid #019031;
}

.lower-container {
  margin-top: 60px;
  height: 300px;
  background: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lower-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.lower-container h3 {
  color: #2f2d2e;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container h4 {
  color: #019031;
  font-weight: 700;
  font-size: 1.2rem;
}

.lower-container p {
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #2f2d2e;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

.button-link {
  margin: 1rem;
  color: #2f2d2e;
  font: bold;
  background-color: white;
  border: 2px solid #019031;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
  text-decoration: none;
}

.button-link:hover {
  background-image: linear-gradient(to left, #26ae60, #019031);
  transform: scale(1.1);
  border: none;
  color: white;
}
