$green: #426b1f;
$light-green: #6ab04a;
$white: #fff;
$black: #000;
$gray: #c2c2c2;
$background: #f3f3e6;
$btn-color: #6ab04a;
$dark-gray: #999;

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.player-card-container {
  justify-content: space-between;
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 6px $dark-gray;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background: $background;
  height: 414px;
  @include transition(transform, 400ms);

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.player-card-body {
  padding: 1rem;
}

.player-card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.player-card-title,
.player-card-description {
  margin: 0.5rem 0;

  &:hover {
    cursor: text;
  }
}

.player-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 71px;
}

.player-follow-button {
  background: none;
  border: none;
  color: $gray;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;

  &:hover {
    color: darken($gray, 10%);
  }

  &.followed {
    color: $light-green;
  }
}

.stats-button {
  background: none;
  border: none;
  color: $btn-color;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  margin: 0.5rem auto;

  &:hover {
    color: darken($btn-color, 10%);
  }
}

.stats-slider {
  background: $background;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px -6px 6px $dark-gray;

  &:hover {
    cursor: text;  
  }
}