$card-bg-color: #f7f7e9;
$card-border-color: #FAFAF5;
$gray: #666;
$card-hover-shadow: 0px 6px 6px #999;
$font-bold: bold;
$font-size: 18px;

@mixin transition($property, $duration) {
  transition: $property $duration ease;
}

.game-card {
  background: $card-bg-color;
  border: 1px solid $card-border-color;
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  text-align: center;
  box-shadow: $card-hover-shadow;
  display: flex;
	flex-direction: row;
  align-items: center;
  @include transition(transform, 400ms);

  &:hover {
    transform: scale(1.1);
		cursor: pointer;
  }

	.game-details {
    font-size: clamp(14px, 2vw, 18px);
    margin-bottom: 8px;

    &:hover {
      cursor: text;
    }
	}

  .team {
    display: flex;
    align-items: center;
		margin-top: 8px;
    margin-bottom: 8px;
		margin-left: 10px;
		margin-right: 10px;

    &.team-left {
			flex: 1;
      justify-content: flex-start;
			display: flex;

      img {
        padding-right: 10px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
      }
    }

    &.team-right {
			flex: 1;
      justify-content: flex-end;
			display: flex;

      img {
        padding-left: 10px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
      }
    }

    .team-logo {
      width: 90px;
      height: 60px;
    }

    span {
      font-size: $font-size;
      font-weight: $font-bold;
    }
  }

  .vs {
    font-size: $font-size;
    margin: 10px 10px;
  }

  .game-date {
    font-size: 16px;
    color: $gray;
  }
}