.user-card {
  border: 1px solid rgba(18, 80, 34, 0.253);
  border-radius: 15%;
  background: linear-gradient(to left, #26ae60, #218f76);
  width: 400px;
  height: 400px;
  margin-left: 20px;
  box-shadow: -10px 16px rgb(2, 44, 44);
}

.user-card-img {
  border: 1px solid rgb(8, 202, 138);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  width: 225px;
  height: 225px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

.user-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}

.user-card h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  color: white;
}