$background: #ffffff;
$text-color: #ffffff;

.app {
  display: block;
  height: 100vh;
  width: 100vw;
}

.page {
  display: flex;
  // flex: 1;
  // width: 100vw;
  // margin-top: 80px;
  // overflow: hidden;
  background: $background;
  // color: $text-color;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  // display: flex;
  justify-content: center;
  align-items: center;
  // align-content: space-around;
}