.animated-button {
  display: inline-block;
  margin: 16px;
  padding: 8px 16px;
  background-color: #6ab04a;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.animated-button.hovered {
  background-color: #328621;
  transform: scale(1.05);
}
