*{
    box-sizing: border-box;
}

@font-face{
    font-family: logoFont;
    src: url(../assets/fonnts.com-CN_BOLD.ttf)
}
  
.site-title{
    font-size: 1.7rem;
    /*font-variant: small-caps;*/
    font-family: logoFont;
    font-weight: 100;
}

.pages{
    font-size: .9rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
  
.navbar{
    background-color: #333;
    color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 3rem;
    background-color: #fefefe;
}
  
.navbar ul{
    padding: 0;
    margin: 0;
    list-style: 0;
    display: flex;
    gap: 1.1rem;
    list-style: none;
}
  
.navbar a{
    color: inherit;
    margin: 0;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
  
.navbar li.active{
    background-color: #0c7850;
    border-radius: .6rem;
    width:fit-content;
    padding: .25rem;
    color: white;

}
  
.navbar li:hover{
    background-color: #0c7850;
    border-radius: .6rem;
    width:fit-content;
    padding: .25rem
}
  
body{
    margin: 0;
}
