.logo-scroller img{
	height: 80px;
	margin: 0 80px;
}

@keyframes slide{
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.logos {
	overflow: hidden;
	padding: 45px 0; 
	white-space: nowrap; 
}

.logo-scroller {
	animation: 10s slide infinite linear;
	display: inline-block;
}