.image-carousel {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 200px;
  // padding: 80px 0;

  .carousel-track {
    display: flex;
    // animation: scroll 30s linear infinite;
    // // min-height: 100%;

    // @keyframes scroll {
    //   0% {
    //     transform: translateX(0);
    //   }
    //   100% {
    //     transform: translateX(calc(-1 * var(--scroll-width) * 30));
    //   }
    // }
  }

  .carousel-item {
    flex: 0 0 auto;
    // width: 140px;
    margin: 0 20px;
  }

  .carousel-image {
    width: 125%;
    height: auto;
    object-fit: contain;
  }
}